{% load static %}
<header>
    <nav class="navbar navbar-light" style="background-color: lightgrey opacity:0.5">
      <div class="container">
          <a class="navbar-brand" href="{% url "post:index" %}">
            <img src = "{% static "img\logo.png" %}"  width="30" height="30" class="d-inline-block align-top" alt="">
            <span style="color:red">Ya</span>tube
          </a>
          <ul>
            <li><a href="{% url "post:index" %}">Главная страница</a></li>
            <li><a href="{% url "post:last_posts" %}">Последние публикации</a></li>
            <li><a href="#">Об авторе </a></li>
            <li><a href="{% url "users:login" %}">Личный кабинет</a></li>
          </ul>
      </div>
    </nav>
</header>