{% extends 'base.html' %}
{% load static %}
{% block title %}
Yatube - Последние публикации
{% endblock %}

{% block link %}
<ul>
    <li><a href="{% url "post:index" %}">Главная страница</a></li>
    <li><a class="active_link" href="{% url "post:last_posts" %}">Последние публикации</a></li>
    <li><a href="#">Об авторе </a></li>
    <li><a href="{% url "users:login" %}">Личный кабинет</a></li>
</ul>
{% endblock %}

{% block content %}
<h2 id="test">  Последние публикации Yatube. </h2>
  {% for post in posts %}
    <div class="post-container">
        <h3 class="post-title">{{ post.title }}</h3>
        <p class="post-author">{{ post.author }}</p>
        <p class="post-text">{{ post.text }}</p>
    </div>
  {% endfor %}

{% endblock %}