<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    {% include 'includes/head.html' %}
    <title>{% block title %} Yatube {% endblock %}</title>
</head>
<body>
  <header>
    <nav class="navbar navbar-light" style="background-color: lightgrey opacity:0.5">
      <div class="container">
          <a class="navbar-brand" href="{% url "post:index" %}">
            <img src = "{% static "img\logo.png" %}"  width="30" height="30" class="d-inline-block align-top" alt="">
            <span style="color:red">Ya</span>tube
          </a>

          {% block link %}

          {% endblock %}

      </div>
    </nav>
  </header>
  {% block content %}
  {% endblock %}

  {% include 'includes/footer.html' %}
</body>
</html>