body{
  background-image: url('/static/img/background.png');
  background-attachment: fixed ;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  font-family: Verdana;
}
ul{
  list-style: none; /*убираем маркеры списка*/
  margin: 0; /*убираем отступы*/
  padding-left: 0; /*убираем отступы*/
}
a {
  color: black;
  text-decoration: none; /*убираем подчеркивание текста ссылок*/
}
.active_link{
    text-decoration: underline;
}

li {
  float:left; /*Размещаем список горизонтально для реализации меню*/
  margin-right:50px; /*Добавляем отступ у пунктов меню*/
}

.main_text{
    text-align: center;
    margin-top: 200px;
    font-weight: bold;
    font-size: 50px;
    color: black;

}

.main {
    text-align: center;
    margin-top: 50px;
    font-size: 25px;
    margin-bottom:190px;

}
.login_h{
  text-align: center;
  font-size: 24px;
  margin-top: 50px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button[type="submit"] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 20px;
}

.test {
  text-align: center;
  font-size: 24px;
  font-weight: 550;
  margin-top:15px;
  margin-bottom: 20px;
}
.post-container {
  width: 70%; /* ширина контейнера для поста */
  margin: 0 auto; /* центрирование по горизонтали */
  background-color: #f8f8f8; /* цвет фона */
  border: 1px solid #ddd; /* граница */
  padding: 20px; /* отступ внутри контейнера */
  margin-bottom: 20px; /* отступ между контейнерами по  стов */
  padding-bottom: 0px;
  border-radius: 15px;
}

.post-title {
  font-size: 24px; /* размер заголовка */
  margin-bottom: 10px; /* отступ между заголовком и текстом поста */
}

.post-author {
  font-size: 14px; /* размер имени автора */
  margin-bottom: 10px; /* отступ между именем автора и текстом поста */
}

.post-text {
  font-size: 16px; /* размер текста поста */
  line-height: 1.5; /* межстрочный интервал */
  margin-bottom: 15px; /* отступ между текстом поста и датой */
}

.post-date {
  font-size: 12px; /* размер даты */
  color: #666; /* цвет текста даты */
}

/* Стилизация кнопки "читать далее" */
.read-more-btn {
  background-color: #333;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  margin-top: 10px;
  padding: 10px 20px;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.read-more-btn:hover {
  background-color: #666;
}

.form-control {
  width: 400px; /* задаем ширину формы */
  height: 1 00px; /* задаем высоту формы */
  margin: auto; /* устанавливаем автоматические отступы по горизонтали для выравнивания по центру */
  margin-top: 20px;
  margin-button:20px;
}

/* Стиль для placeholder */
.form-control::placeholder {
  color: #6c757d;
}

/* Стиль для фокуса */
.form-control:focus {
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* Стиль для кнопки */
.btn {
  display: inline-block;
  font-weight: 400;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: #007bff;
  border: 1px solid #007bff;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  cursor: pointer;
}

.btn:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

footer {
  bottom: 0;
  left: 0;
  width: 100%;
}
.alert {
  margin-top: 10px;
  margin-bottom: 10px;
}

.alert-danger {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
}
#account-dropdown {
  display: none;
  position: absolute;
  z-index: 9999; /* или любое другое большое число */
  width: 140px; /* задаем ширину колонки */
  background-color: #fff; /* задаем цвет фона */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* добавляем тень */
  top: 40px; /* задаем отступ от верхнего края */
  left: 1164px; /* задаем отступ от левого края */
  pointer-events: auto;
}

#account-dropdown a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
}

#account-dropdown a:hover {
  background-color: #f2f2f2;
}

#account-link:hover + #account-dropdown {
  display: block;
}

#account-dropdown ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#account-dropdown li {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #ccc; /* добавляем горизонтальные разделители */
}

#account-dropdown li:last-child {
  border-bottom: none; /* удаляем разделитель для последнего элемента */
}
.dropdown-parent {
    cursor: pointer;
    /* Добавьте любые другие стили, которые вы хотите применить */
}
