{% extends 'base.html' %}
{% load static %}

{% block title %}Yatube - Личный кабинет {% endblock %}
{% block link %}
<ul>
  <li><a href="{% url 'post:index' %}">Главная страница</a></li>
  <li><a href="{% url 'post:last_posts' %}">Последние публикации</a></li>
  <li><a href="#">Об авторе </a></li>
  <li>
    <span class="dropdown-parent" id="account-link">Личный кабинет</span>
    <div id="account-dropdown">
        <ul>
            <li><a href="{% url 'users:myview' %}">Мой страница</a></li>
            <li><a href="{% url 'post:create_post' %}">Добавить пост</a></li>
        </ul>
    </div>
  </li>
</ul>
{% endblock %}

{% block content %}
  <h2 class="login_h"> Регистрация </h2>
<form method="post">
    {% csrf_token %}
    {{ form.email }}<br>
    {{ form.first_name }}<br>
    {{ form.last_name }}<br>
    {{ form.password1 }}<br>
    {{ form.password2 }}<br>

    <button class="btn" type="submit"> Создать пользователя </button>
</form>
{% endblock %}