{% extends 'base.html' %}
{% block link %}
<ul>
    <li><a href="{% url "post:index" %}">Главная страница</a></li>
    <li><a href="{% url "post:last_posts" %}">Последние публикации</a></li>
    <li><a href="#">Об авторе </a></li>
    <li><a class="active_link" href="{% url "users:login" %}">Личный кабинет</a></li>
</ul>
{% endblock %}

{% block content %}
  <h2>Login</h2>
  <form rm method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
  </form>
{% endblock %}