{% extends 'base.html' %}

{% block title %} Авторизация {% endblock %}
{% block link %}
<ul>
  <li><a href="{% url 'post:index' %}">Главная страница</a></li>
  <li><a href="{% url 'post:last_posts' %}">Последние публикации</a></li>
  <li><a href="#">Об авторе </a></li>
  <li>
    <span class="dropdown-parent" id="account-link">Личный кабинет</span>
    <div id="account-dropdown">
        <ul>
            <li><a href="{% url 'users:myview' %}">Мой страница</a></li>
            <li><a href="{% url 'post:create_post' %}">Добавить пост</a></li>
        </ul>
    </div>
  </li>
</ul>
{% endblock %}

{% block content %}
    <h2 class="login_h" >Авторизация</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.email }}
        {{ form.password }}
        {% if form.errors %}
            <div class="alert alert-danger">
            {% for field, errors in form.errors.items %}
                {% for error in errors %}
                    {{ error }}
                {% endfor %}
            {% endfor %}
            </div>
        {% endif %}
        <button class="btn_auth"> Войти </button>
        <div class="registration">
            <p >Еще не зарегистрированы?<a class="registration_a" href="{% url 'users:create_user' %}"> Создайте аккаунт!</a></p>
        </div>
    </form>
{% endblock %}